{% extends "SmartSearchSearchBundle::layout.html.twig" %}
{%block content%}
	<div id="block-home">
		<h2>Smart Search</h2>
		<div class="input-group">
		  <input type="text" class="form-control" id="main-search-engine" placeholder="Search for...">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		  </span>
		</div>
		<input type="hidden" id="result-val"/>
	</div>
{%endblock%}
{%block javascripts%}
	<script type="text/javascript" src="/javascripts/app/ajax.js"></script>
	<script type="text/javascript" src="/javascripts/app/search-engine.js"></script>
{%endblock%}
